################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sln2mak/bin/Debug
/sln2mak/obj/Debug
/.vs/sln2mak/v15
